.watch {
    padding-top: 84px;
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
    }
}