.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.capa{
    width: 225px;
    border-radius: 8px;
}

.capa:hover {
    transform: scale(1.15 );
    border-radius: 10px;
    box-shadow: 0 0 10 #222;
}

.icone{
    width: 30px;
    height: 30px;
    background-color: #00000050;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}